body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

/* EJERCICIO COMPLETO */

/* Quitar margin y padding a todos los elementos de website */
#website * {
    margin: 0px;
    padding: 0px;
}

#website {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20% 10% 1fr 10%;

    width: 75%;
    height: 99.7vh;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#cabecera {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1 / 6;

    background-color: blue;
    color: white;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 / 6;

    background-color: lightblue;
    color: black;
}

#menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    list-style-type: none;
}

#contenido {
    grid-column: 1 / 5;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    padding: 15px;
    background-color: #eee;
}

#contenido article {
    background-color: #ccc;
    border: 1px solid #555;
}

#lateral {
    grid-column: 5 / 6;

    background-color: orange;
    color: white;
}

#pie-pagina {
    grid-column: 1 / 6;

    background-color: black;
    color: white;
}